$white: #fff;
$blue: #1b00a9;
$bg: #595959;
$dominant: #8c0000;
$special1: #d6bb2e;
$special2: #214258;
$green: #b8ca56;

@media print {
  body {
    max-width: none;
  }
}

@mixin box-sizing($type) {
  -moz-box-sizing: $type;
  -webkit-box-sizing: $type;
  box-sizing: $type;
}
@mixin border-radius($data) {
  -webkit-border-radius: $data $data $data $data;
  border-radius: $data $data $data $data;
}
@mixin transition($property, $time, $type) {
  -webkit-transition: $property $time $type;
  -moz-transition: $property $time $type;
  -ms-transition: $property $time $type;
  -o-transition: $property $time $type;
  transition: $property $time $type;
}
@mixin box-shadow() {
  -webkit-box-shadow: 0em 0em 1.053em 0em rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0em 0em 1.053em 0em rgba(50, 50, 50, 0.3);
  box-shadow: 0em 0em 1.053em 1.053em rgba(50, 50, 50, 0.3);
}
#circle-container {
  width: 10.526em;
  margin: 1.053em auto;
}
.q {
  color: $white;
  @include box-sizing(border-box);
  margin: 0 auto;
  width: 42.105em;
  border: none;
  padding: 2.105em;
  overflow: hidden;
  legend {
    @include box-sizing(border-box);
    text-align: center;
    width: 100%;
    padding-bottom: 1.053em;
    font-size: 1.053em;
  }
  input[type="radio"] + label {
    @include box-sizing(border-box);
    float: left;
    display: block;
    width: 50%;
    text-align: center;
    span {
      @include box-shadow();
      @include border-radius(0.526em);
      display: block;
      margin: 0 auto;
      width: 80%;
      color: $special2;
      padding: 1.053em;
      background-color: $white;
      margin-bottom: 0.526em;
      &:hover {
        background-color: $dominant;
        color: $white;
      }
    }
  }
  input[type="radio"]:checked + label span {
    background-color: $green;
    color: $special2;
  }
  input[type="radio"] {
    position: absolute;
    left: -526.263em;
  }
  .button-space {
    clear: both;
    height: 1.421em;
    padding-top: 1.053em;
  }
  .next {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: $dominant;
    @include border-radius(0.789em);
    border: solid 0.105em $dominant;
    color: $white;
    font-size: 0.842em;
    padding: 0.105em 1.316em;
    text-transform: uppercase;
  }
}
.disabled {
  display: none;
}
.end {
  text-align: center;
  font-size: 2.632em;
}

body {
  text-align: center;
  background-color: $bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1em auto;
  padding: 0 0.62em;
  font: 1.2em/1.62;
  font-family: Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  color: $white;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-button {
  @include box-shadow();
  @include box-sizing(border-box);
  @include border-radius(0.526em);
  width: 15em;
  background: $white;
  border: 0.5em solid $white;
  margin: 2em auto;
  color: $special2;
  font-size: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#doc {
  margin-right: 1em;
}

#quiz {
  margin-left: 1em;
}
